.reveal .slides section .magnify {
    transition: var(--r-magnify-timing, ease) var(--r-magnify-duration, 1s) transform;
    transform-origin: center;
    height: 100%;
    width: 100%;
}

.reveal .slides section .magnify.magnified {
    transform: translate(var(--r-magnify-x, 0), var(--r-magnify-y, 0)) scale(var(--r-magnify-scale, 1));
    z-index: 50;
    position: relative;
}
