div#footnote {
    display: block;
    position: fixed; 
    font-size: 0.33em;
    opacity: var(--r-footnote-opacity, 1);
    transform-origin: center bottom;
    left: 50%;
    bottom: 7.5%;
    margin: 0;
    z-index: 2;
}

div#footnote * {
    margin: 0;
}

.reveal span.footnote {
    font-size: 0.5em;
    vertical-align: super;
}

div#footnote ul {
    display: flex;
    /*justify-content: space-between;*/
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    column-gap: 1em;
    row-gap: 1.25em;
    list-style: none;
}

div#footnote ul li::before {
    content: var(--r-footnote-ref);
    margin-right: 0.33em;
    font-size: 0.5em;
    vertical-align: super;
}
